html {
  background: white;
  color: black;
  font-family: 'Cantarell', sans-serif;
  font-size: 12pt;
  background-image: url("hyrule-bg-light.jpg");
  background-repeat: repeat-y;
}
@media screen and (min-width: 36em) {
  body { width: 36em; margin-left: auto; margin-right: auto; }
}
@media screen and (max-width: 35.99em) {
  html { font-size: 90%; }
  h1 { font-size: 180%; }
}
@media screen and (max-width: 27.99em) {
  html { font-size: 80%; }
  h1 { font-size: 160%; }
}

table {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}
th, td {
  padding: 0.4em;
}

table {
  background: #152d31;
}
td {
  background: #f2f2f2;
}
.arrow-type {
  background: #d3c9d1;
}
.shop {
  background: #e4dad1;
  text-align: right;
}
.good-price {
  background: #d3dbcf;
}
.bad-price {
  background: #eac7c7;
}
