html {
  background: white;
  color: black;
  font-family: 'Cantarell', sans-serif;
  font-size: 12pt;
  background: url("hyrule-bg-light.jpg") #dadfd9 repeat-y center;
}
@media screen and (min-width: 38em) {
  body { width: 38em; margin-left: auto; margin-right: auto; }
}
@media screen and (max-width: 37.99em) {
  html { font-size: 88%; }
  h1 { font-size: 180%; }
}
@media screen and (max-width: 27.99em) {
  html { font-size: 72%; }
  h1 { font-size: 160%; }
}

table {
  width: 96%;
  margin: 1.66em auto;
}
th, td {
  padding: 0.4em;
}

table {
  background: #152d31;
}
td {
  background: #f2f2f2;
}
.arrow-type {
  background: #d3c9d1;
}
.shop {
  background: #e4dad1;
  text-align: right;
}
.good-price {
  background: #d3dbcf;
}
.bad-price {
  background: #eac7c7;
}
